.container{
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.form-area form{
    display: flex;
    flex-direction: column;
    height: 50px;
    border-radius: 20px;
    width:100%;
}
.form-area form input {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 auto;
    text-align: center;
}
button{
    width:100px;
}


form>label,input,textarea{
    display: block;
    width: 100%;
    
}

form>input,textarea{
    margin-bottom: 30px;
}
form>label{
    margin-bottom:10px;
    text-align: center;
}

/***********************
商品一覧
***********************/

ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
li{
    list-style-type: none;
    width: 50%;
    text-align: center;
    margin: 20px 0;

}