/***************
全体
***************/
body{
    margin:0!important;
}
.header-nav {
    background-color: #f8f8f8;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.header-lists {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-lists li {
    margin: 0 15px;
}

.header-lists li a {
    color: #000;
    padding: 10px 20px;
   
}

.header-lists li a:hover {
    opacity: 0.5;
}


.container{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 5%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

.form-area form{
    display: flex;
    flex-direction: column;
    height: 50px;
    border-radius: 20px;
    width:100%;
}
.form-area form input {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
button{
    width:150px;
    padding: 5px;
}


.field>label,input,textarea{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.field>input,textarea{
    margin-bottom: 30px;
}

.field>label{
    margin-bottom:10px;

}

/***********************
商品一覧
***********************/

ul{
    width: 100%;
    padding:5px!important;
}
li{
    list-style-type: none;
    margin: 10px 0;
}

a.button{
    /*background-color: #eee;*/
    padding:  10px 20px;
    
}


a.continue{
    display: block;
    margin: 20px 0;
}

